@import "tailwindcss";

@theme {

  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001F;

  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;
}

@layer utilities {
  .shadow-black {
    box-shadow: 4px 4px 0 #000;
  }
  .shadow-white {
    box-shadow: 4px 4px 0 #fff;
  }
  .grid-cols-auto {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

* {
  @apply antialiased;
}
